body {
  font-family: sans-serif;
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

button {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 1rem;
}
